.table-container {
  width: 100%;
  margin: 0 10px 10px 10px;
}

.-highlight {
  background-color: #DDDDDD;
}

.stylesheet-container__header {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.stylesheet-container__header__buttons button {
  margin-right: 10px;
}

.stylesheet-container__header__value {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.stylesheet-container__header__value .header-label {
  margin-right: 5px;
  color: #ccc;
}

.stylesheet-container__header__value .header-value {
  font-size: 25px;
  color: #6C9543;
}