.btn {
  border: 0;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.btn.default {
  border: 1px solid transparent;
  border-radius: 4px;
  width: 300px;
  height: 50px;
  font-size: 20px;
  background-color: #BF0404;
  color: #fff;
}

.btn.default:hover {
  background-color: #7C0707;
}

.btn.secondary {
  border: 1px solid transparent;
  border-radius: 4px;
  width: 300px;
  height: 50px;
  font-size: 20px;
  background-color: #6C9543;
  color: #fff;
}

.btn.secondary:hover {
  background-color: #81BC29;
}

.btn:disabled {
  background-color: #ccc;
  opacity: .8;
  cursor: not-allowed;
}

.btn:disabled:hover {
  background-color: #ccc;
}

.btn.small {
  width: 100px;
  height: 30px;
  font-size: 16px;
}

.btn.loading {
  font-size: 0;
  cursor: not-allowed;
}

.btn.loading:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 18px;
  height: 18px;
  border: 2px solid #fff;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}